.navBar{
    display: inline-block;
    border: 1px solid grey;
    width: 100%;
    }
.instaLogo{
   justify-content: start;
}
.instaName{
    justify-content:  start;
}

.profile{
    float: right
}
.searchBar{
    justify-content: center;
}