body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
    flex-direction: column;
}

.navBar{
    display: flex;
    display: inline-block;
    border: 1px solid grey;
    width: 100%;
    position: fixed;
    background-color: white;
    }
.instaLogo{
 justify-content: center;
 margin-left: 20%;

   
}
.instaName{
    justify-content:  center;
}

.profile{
    float: right;
    margin-right: 20%;
}
.searchBar{
    width: 10%;
    left: 45%;
    top: 20px;
    position: absolute;

}

.generalInfo{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.containerMain{
display: flex;
    background-color: #e4e4e4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    padding-top: 80px;
    
    
}
.containerMain2{
    display: flex;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: row;
}
    



.card{
display: flex;
justify-content: center;
box-shadow: black;
display: flex;
margin-top: 10%;
margin-left: 20%;
width: 500px;
height: 500px;
border-radius: 5px;
}

.rightSideContainer{
    display: flex;
    margin: 60%;
}
.box{
    border: 10px solid black;
    height: 100px;
    width: 100px;
    float: right;
    align-items: start;

}